*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: "Major Mono Display", monospace;
  max-width: 144rem;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes spin-stone {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}
.boom {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.boom button {
  cursor: pointer;
}

.universe {
  height: 100svh;
  display: grid;
  align-content: center;
  justify-content: center;
}
.universe .stones {
  display: grid;
  justify-items: center;
}
.universe .stones .stone {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  width: 5.5rem;
  width: 0;
}
.universe .stones .stone img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  transition: width 0.3s ease-out;
}
.universe .stones .stone img[data-color=crimson] {
  color: crimson;
}
.universe .stones .stone img[data-color=crimson]:hover ~ .reality__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone img[data-color=purple] {
  color: purple;
}
.universe .stones .stone img[data-color=green] {
  color: green;
}
.universe .stones .stone img[data-color=yellow] {
  color: yellow;
}
.universe .stones .stone img[data-color=blue] {
  color: blue;
}
.universe .stones .stone img[data-color=orange] {
  color: orange;
}
.universe .stones .stone img:hover {
  box-shadow: 0 0 3.6rem currentColor !important;
  border: 2px solid currentColor !important;
  border-radius: 16px !important;
  animation: none !important;
  cursor: pointer;
}
.universe .stones .reality__title {
  font-family: "Major Mono Display", monospace;
  color: crimson;
  visibility: hidden;
  position: absolute;
  top: 2.5rem;
  left: 10rem;
  width: max-content;
  z-index: -1;
  opacity: 0;
}
.universe .developer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 3s ease-in;
  font-size: 62.5%;
  font-family: "Major Mono Display", monospace;
  visibility: hidden;
}
.universe .developer__image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-image: url(../assets/img/me.png);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.universe .developer__excerpt {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  width: auto;
  color: wheat;
}
.universe .developer__excerpt .name {
  grid-column: 1/-1;
  font-family: "Major Mono Display", monospace;
  font-size: 1.4rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
}
.universe .developer__excerpt .title {
  font-family: "Major Mono Display", monospace;
  font-size: 1.2rem;
  text-align: start;
  padding-top: 1rem;
}
.universe .developer__excerpt .socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
  column-gap: 1rem;
}
.universe .developer__excerpt .socials li {
  list-style: none;
}
.universe .developer__excerpt .socials .social-icon {
  fill: wheat;
  height: 2rem;
  width: 2rem;
}
.universe .developer__excerpt .socials .social-icon:hover {
  animation: none;
}

/*# sourceMappingURL=style.css.map */
