*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: "Major Mono Display", monospace;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes spin-stone {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  }
}
/*
MEDIA QUERY MANAGER

0 - 600px:      phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800px] is where our normal styles apply
1800+px:        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px 
*/
nav {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 4rem;
}
nav .mbuto {
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s linear;
}
nav .stones {
  display: grid;
  grid-template-rows: repeat(6, max-content);
  align-self: center;
  justify-items: center;
  row-gap: 4rem;
}
nav .stones div[data-color=crimson].active {
  color: crimson;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones div[data-color=purple].active {
  color: purple;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones div[data-color=green].active {
  color: green;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones div[data-color=yellow].active {
  color: yellow;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones div[data-color=blue].active {
  color: blue;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones div[data-color=orange].active {
  color: orange;
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}
nav .stones .stone {
  width: 3.5rem;
  display: flex;
  column-gap: 5rem;
  color: transparent;
  align-items: center;
}
nav .stones .stone img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}
nav img {
  width: 5.5rem;
  cursor: pointer;
}
nav img[data-color=green] {
  width: 7rem;
}

.boom {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.boom button {
  cursor: pointer;
}

.universe {
  height: 100svh;
  display: grid;
  align-content: center;
  justify-content: center;
}
.universe .galaxy {
  position: absolute;
  border-radius: 50%;
}
.universe .stones {
  display: grid;
  justify-items: center;
}
.universe .stones .stone {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 5.5rem;
  width: 0;
}
.universe .stones .stone.reality {
  color: crimson;
}
.universe .stones .stone.reality:hover > .reality__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone.power {
  color: purple;
}
.universe .stones .stone.power:hover > .power__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone.time {
  color: green;
}
.universe .stones .stone.time:hover > .time__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone.mind {
  color: yellow;
}
.universe .stones .stone.mind:hover > .mind__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone.space {
  color: blue;
}
.universe .stones .stone.space:hover > .space__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone.soul {
  color: orange;
}
.universe .stones .stone.soul:hover > .soul__title {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s linear;
}
.universe .stones .stone img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  transition: width 0.3s ease-out;
}
.universe .stones .stone img:hover {
  box-shadow: 0 0 3.6rem currentColor !important;
  border: 2px solid currentColor !important;
  border-radius: 16px !important;
  animation: none !important;
  cursor: pointer;
}
.universe .stones .reality__title,
.universe .stones .space__title,
.universe .stones .mind__title,
.universe .stones .time__title,
.universe .stones .power__title,
.universe .stones .soul__title {
  font-family: "Major Mono Display", monospace;
  color: currentColor;
  visibility: hidden;
  position: absolute;
  top: 2.5rem;
  left: 10rem;
  width: max-content;
  z-index: -1;
  opacity: 0;
}
.universe .developer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s cubic-bezier(0.04, 1.59, 0.83, 1.18);
  font-size: 62.5%;
  font-family: "Major Mono Display", monospace;
  visibility: hidden;
}
.universe .developer__image {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-image: url(../assets/img/me.png);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.universe .developer__excerpt {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  width: auto;
  color: wheat;
}
.universe .developer__excerpt .name {
  grid-column: 1/-1;
  font-family: "Major Mono Display", monospace;
  font-size: 1.4rem;
  padding-top: 2rem;
  margin-bottom: 1.25rem;
}
.universe .developer__excerpt .title {
  font-family: "Major Mono Display", monospace;
  font-size: 1.2rem;
  text-align: start;
  padding-top: 1rem;
}
.universe .developer__excerpt .socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
  column-gap: 1rem;
}
.universe .developer__excerpt .socials li {
  list-style: none;
}
.universe .developer__excerpt .socials .social-icon {
  fill: wheat;
  height: 2rem;
  width: 2rem;
}
.universe .developer__excerpt .socials .social-icon:hover {
  animation: none;
}

.soul__body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-content: center;
  padding: 6rem;
}
.soul__grid {
  align-content: center;
  display: grid;
}
.soul__header {
  display: grid;
  justify-content: center;
  row-gap: 10px;
}
.soul__header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.soul__page {
  box-shadow: 0px 0px 1px currentColor;
  transition: box-shadow 0.5s ease-out;
  height: 150px;
  line-height: 3.5em;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  color: #bc4d04;
}
.soul__page:hover {
  box-shadow: 0px 0px 3px currentColor;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .soul__page {
    height: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .soul__page {
    width: 300px;
  }
}
.soul__page .desc {
  font-size: 2rem;
  font-weight: bold;
}
@media only screen and (max-width: 37.5em) {
  .soul__page .desc {
    font-size: 1.2rem;
    line-height: 2em;
  }
}

.reality__body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-content: center;
  padding: 6rem;
}
.reality__body nav {
  grid-row: 1/-1;
  grid-column: 1/2;
}
.reality .header-stone {
  transform: rotate(72deg);
}
.reality__header {
  color: crimson;
}
.reality__header span a {
  color: crimson;
}
.reality__project-showcase {
  text-align: center;
  padding: 5rem;
  grid-row: 2/-1;
  width: 50rem;
  margin: 10rem auto auto;
  grid-column: 1/-1;
  background-color: transparent;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  color: rgba(220, 20, 60, 0.9);
  display: grid;
  row-gap: 2rem;
  border-radius: 1rem;
  justify-items: center;
}
@media only screen and (max-width: 32.5em) {
  .reality__project-showcase {
    width: 38rem;
    padding: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .reality__project-showcase {
    width: 30rem;
  }
}
.reality__project-showcase .project {
  color: rgba(128, 0, 0, 0.5490196078);
}
.reality__project-showcase .project__title {
  font-size: 5rem;
  color: rgba(128, 0, 0, 0.5490196078);
}
@media only screen and (max-width: 48em) {
  .reality__project-showcase .project__title {
    font-size: 3rem;
  }
}
.reality__project-showcase .project__description {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: rgba(128, 128, 128, 0.8);
}
@media only screen and (max-width: 48em) {
  .reality__project-showcase .project__description {
    font-size: 1.2rem;
  }
}
.reality__project-showcase .project__version {
  font-size: 1.2rem;
  font-weight: bold;
}
.reality__project-showcase .project__downloads {
  font-size: 2rem;
  font-weight: 300;
}
.reality__project-showcase .project__download {
  font-size: 1.8rem;
  background-color: rgba(128, 0, 0, 0.65);
  padding: 1.2rem 2rem;
  color: rgba(128, 128, 128, 0.8);
  border-radius: 2rem;
  transition: all 300ms linear;
}
.reality__project-showcase .project__download:link, .reality__project-showcase .project__download:visited, .reality__project-showcase .project__download:active {
  text-decoration: none;
}
.reality__project-showcase .project__download:hover {
  background-color: maroon;
  color: gray;
}
.reality__project-showcase .project__google-play a img {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
