*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: darkslategray; }

@keyframes spin {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes spin-stone {
  0% {
    transform: rotate(0); }
  30% {
    transform: rotate(30deg); }
  45% {
    transform: rotate(45deg); }
  60% {
    transform: rotate(60deg); }
  90% {
    transform: rotate(90deg); }
  100% {
    transform: rotate(180deg); } }

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .container #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
    @media (max-width: 750px) {
      .container #background-video {
        display: none; }
        .container #background-video body {
          background: url(./assets/img/home.png) no-repeat;
          background-size: cover;
          background-color: transparent; } }
  .container .developer__image {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-image: url(../assets/img/me.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .container .developer__image:hover > * {
      animation: none; }
  .container .developer__stones {
    position: relative;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: 2px dashed white; }
    .container .developer__stones--reality {
      position: absolute;
      top: -20rem; }
      .container .developer__stones--reality .reality__stone img {
        width: 8rem;
        animation: spin-stone 3s infinite;
        position: relative;
        left: 2rem; }
      .container .developer__stones--reality .reality__title {
        color: crimson;
        visibility: hidden; }
      .container .developer__stones--reality .reality__tether {
        width: 160px;
        border-bottom: 1px dashed crimson;
        transform: rotate(79deg); }
