/*
MEDIA QUERY MANAGER

0 - 600px:      phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800px] is where our normal styles apply
1800+px:        Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px 
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

@mixin shine {
  box-shadow: 0 0 3.6rem currentColor;
  border: 2px solid currentColor;
  border-radius: 16px;
}

nav {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 4rem;

  .mbuto {
      cursor: pointer;
      text-decoration: underline;
      transition: all .3s linear;
  }
  .stones {
    div[data-color="crimson"] {
      &.active {
        color: crimson;
        @include shine;
      }
    }

    div[data-color="purple"] {
      &.active {
        color: purple;
        @include shine;
      }
    }

    div[data-color="green"] {
      &.active {
        color: green;
        @include shine;
      }
    }

    div[data-color="yellow"] {
      &.active {
        color: yellow;
        @include shine;
      }
    }

    div[data-color="blue"] {
      &.active {
        color: blue;
        @include shine;
      }
    }

    div[data-color="orange"] {
      &.active {
        color: orange;
        @include shine;
      }
    }
    display: grid;
    grid-template-rows: repeat(6, max-content);
    align-self: center;
    justify-items: center;
    row-gap: 4rem;
    .stone {
      width: 3.5rem;
      display: flex;
      column-gap: 5rem;
      color: transparent;
      align-items: center;
      img {
        width: inherit;
        height: inherit;
        object-fit: contain;
      }
    }
  }

  img {
    width: 5.5rem;
    cursor: pointer;
    // border: 1px solid currentColor;
  }
  img[data-color="green"] {
    width: 7rem;
  }
}
