<div class="soul__body">
  <nav>
    <span class="mbuto"><a href="/">mbuto 31</a></span>
    <div class="stones">
      <div data-color="blue" class="stone space" hx-trigger="click" hx-get="/space.html">
        <img src="./assets/img/space.png" alt="space stone">
        <div class="space__title">
          <h1>Space</h1>
        </div>
      </div>
      <div data-color="crimson" class="stone reality">
        <img src="./assets/img/reality.png" alt="reality stone">
        <div class="reality__title">
          <h1>Reality</h1>
        </div>
      </div>
      <div data-color="purple" class="stone power">
        <img src="./assets/img/power.png" alt="power stone">
        <div class="power__title">
          <h1>Power</h1>
        </div>
      </div>
      <div data-color="orange" class="stone soul"  hx-trigger="click" hx-get="/soul.html" hx-target="body">
        <img src="./assets/img/soul.png" alt="soul stone">
        <div class="soul__title">
          <h1>Soul</h1>
        </div>
      </div>
      <div data-color="yellow" class="stone mind">
        <img src="./assets/img/mind.png" alt="mind stone">
        <div class="mind__title">
          <h1>Mind</h1>
        </div>
      </div>
      <div data-color="green" class="stone time">
        <img src="./assets/img/time.png" alt="time stone">
        <div class="time__title">
          <h1>Time</h1>
        </div>
      </div>
    </div>
  </nav>
  <main class="soul__grid">
    <div class="soul__page">
      <h2></h2>
      <p class="desc">
        studying the art of hacking. aspiring astrophysicist. imperfect writer. amateur pianist
      </p>
    </div>
  </main>
</div>