@keyframes spin {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes spin-stone {
    0% {
        transform: rotate(0);
    }

    30% {
        transform: rotate(30deg);
    }

    45% {
        transform: rotate(45deg);
    }

    60% {
        transform: rotate(60deg);
    }

    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(180deg);
    }
}