.mbuto {
    font-family: $developer-font;
}

.header-stone {
    width: 6rem;
}

.button {
    width: 18rem;
    height: 4rem;
    color: #fff;
    background-color: #0891b2;
    font-size: 2rem;
    border-radius: .6rem;
    display: grid;
    align-items: center;
    justify-items: center;
    &:hover {
        background-color: darken($color: #0891b2, $amount: 10);
        cursor: pointer;
    }
}