.container {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 95vh;

  @media only screen and (max-width: 48em) {
    height: 70vh;
  }
  @media only screen and (max-width: 26em) {
    height: 45vh; 
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    @media (max-width: 750px) {
      // display: none;

      body {
        background: url(./assets/img/home.png) no-repeat;
        background-size: cover;
        background-color: transparent;
      }
    }
  }

  .developer {
    @include developer;

    &__stones {
      @include developerStones;

      @media only screen and (max-width: 47.9375em) {

        .soul,
        .time,
        .mind,
        .reality,
        .power,
        .space {
          display: none;
        }
      }

      a {
        text-decoration: none;
      }
    }

    &__excerpt {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      width: auto;
      color: wheat;
      // text-align: center;

      .name {
        grid-column: 1 / -1;
        font-family: $developer-font;
        font-size: 1.4rem;
        padding-top: 2rem;
        margin-bottom: 1.25rem;
      }

      .title {
        font-family: $developer-font;
        text-align: start;
        padding-top: 1rem;
      }
    }

    .socials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 0.5rem;
      column-gap: 1rem;

      li {
        list-style: none;
      }

      .social-icon {
        fill: wheat;
        height: 2rem;
        width: 2rem;

        &:hover {
          animation: none;
        }
      }
    }
  }
}

.mobile-stones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-items: center;

  .m {

    &-soul {
      color: orange;
    }
    &-space {
      color: blue;
    }
    &-power {
      color: purple;
    }
    &-reality {
      color: crimson;
    }
    &-mind {
      color: yellow;
    }
    &-time {
      color: green;
    }
  }

  .ms {
    display: flex;
    align-items: center;

    span {
      font-size: 1.2rem;
      font-family: $developer-font;
      color: currentColor;
      padding-left: 1rem;
      cursor: pointer;

      a {
        &:link,
        &:visited,
        &:hover,
        &:active {
          text-decoration: none;
          color: currentColor !important;
        }
      }
    }
  }

  img {
    width: 6rem;
    @media only screen and (max-width: 20em) {
      width: 4rem;
    }
    animation: spin-stone 3s infinite linear;

    @media only screen and (min-width: 48em) {

      display: none;
    }
  }
}