.container {
  display: grid;

  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    @media (max-width: 750px) {
      display: none;

      body {
        background: url(./assets/img/home.png) no-repeat;
        background-size: cover;
        background-color: transparent;
      }
    }
  }

  .developer {
    &__image {
      height: 25rem;
      width: 25rem;
      border-radius: 50%;
      background-image: url(../assets/img/me.jpg);
      background-color: #cccccc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover > * {
        animation: none;
      }
    }

    &__stones {
      position: relative;
      height: 25rem;
      width: 25rem;
      border-radius: 50%;
      border: 2px dashed white;
      //   animation: spin 3s infinite;
      // animation: spin 2s infinite linear;

      &--reality {
        position: absolute;
        top: -20rem;

        .reality {
          &__stone img {
            width: 8rem;
            animation: spin-stone 3s infinite linear;
            position: relative;
            left: 2rem;
            top: 4rem;
          }

          &__title {
            color: crimson;
            visibility: hidden;
          }

          &__tether {
            position: relative;
            top: 3rem;
            left: 3rem;
            width: 10rem;
            border-bottom: 1px dashed crimson;
            transform: rotate(79deg);
          }
        }
      }

      &--soul {

        .soul {
            &__stone img {
              width: 8rem;
              animation: spin-stone 3s infinite linear;
              position: relative;
              left: 12rem;
              top: 30rem;
            }
        
            &__title {
              color: orange;
              visibility: hidden;
            }
        
            &__tether {
              position: relative;
              top: 15.5rem;
              left: 10rem;
              width: 10rem;
              border-bottom: 1px dashed orange;
              transform: rotate(79deg);
            }
          }
      }

    //   &--power {
    //   }

    //   &--mind {
    //   }

    //   &--time {
    //   }

    //   &--space {
    //   }
    }
  }
}
